extends layout

block content
  h1= title
  p Welcome! STEVIA is a project using D3-Geo module of D3.js to visualize internet attacks in spatio-temporal dimension, <br> hence the name stands for "Spatio-Temporal Visualization of Internet Attacks".
  p Content:
  ul
    li  
      a(href="test/map") Realtime Attack
      p Visualize what happens right now.
    li 
      a(href="test/history") Historical Attack (Daily)
      p Visualize the last 24 hours activities.
    li 
      a(href="test/historyWeekly") Historical Attack (Weekly)
      p Visualize the last 7 days activities.
    li 
      a(href="test/historyMonthly") Historical Attack (Monthly)
      p Visualize the last month activities.
    li
      input#query(type="date")  
      a#link(href="#", style="margin-left: 9px;") Historical Attack By Query
      p Visualize the last activities by The Query.

  script(src='../js/jquery.min.js')
  script.
    $("#query").change(function() {
      console.log($(this).val());
      $("#link").attr("href", "test/historyQuery?date=" + $(this).val());
    })